/* background color, text color, and margin of body*/
body {background-color: #ffffff; 
    color: #33334d; 
    margin: 100px 180px 180px  180px ; 
    line-height: 150%;
font-family: 'Lucida Sans', 'Lucida Sans Regular',  sans-serif;}

/* margin, background color, text color and height of content area*/
h2.index {background-color: #ffffff; 
    color: #33334d; 
    height: 2em; 
    width: 40%;
    padding: 15px 15px 0px 15px ;
    margin: 5% 10% 0% 10%;
    z-index: 11;
    float: left
    }
    h1.index {background-color: #ffffff; 
        color: #33334d; 
        height: 2em; 
        width: 40%;
        padding: 15px 15px 0px 15px ;
        margin: 5% 10% 10% 10%;
        z-index: 11;
        float: left
        }
/* CSS for h1 and h2*/
  h1,h2  { margin: 30px 0 30px 0; }

/*menu class*/
.menu{  
    height: 3em;
    background-color: #003300; 
    padding: 22px 15px 15px 15px;
   
    position: fixed; right: auto; top: 0;
    z-index: 5;
    font-size: 125%;
    background-image: url(../images/mtascutney.jpg);
    
 }

/*CSS for pages class*/
a.page{
    padding: 5px 5px 5px 5px;
    color:#ffffff;
    text-decoration: none;
    background-color:#800000;
    }

a.page:hover{text-decoration: underline;
background-color: transparent;}

a.page:active{color: #003300;
border: solid;
border-color: #003300;
border-width:  2px;}

        

/* background color for WelcomeP*/
#WelcomeP {background-color: #ffffff; 
    margin-left: 10px; 
    margin-right: 10px; }

/*border for WelcomeP*/
#WelcomeP {border: solid #000000  3px ;}

/*background color for form*/
body.form{background-color: #336699; 
    color: #000000; 
    margin: 100px 180px 180px  180px ; 
    line-height: 150%;}


/*border for any ul*/
ul {border: solid #000000 5px;}

/*border for dt elements*/
dt { padding: 5px 0 5px 0;
    border: solid #000000 2px;
margin-left: 3px;
position: relative;
left: auto;
bottom: inherit;}


/* padding for any dd elements*/
dd{padding: 5px 0 5px 0;}



/*CSS for table*/
table{border-collapse:collapse;}
caption{font-weight: bold ;}

/* CSS for footer*/
footer {position: relative;
    bottom: -180px;
text-align: center;
padding: 20px 20px 20px 20px;
background-image: url(../images/field.jpg) ;
color: #ffffff;}
 
/* CSS for id overview*/
#overview{margin-left: auto; margin-right: auto;}

/*CSS for class trailpic*/
div.trailpic {text-align: center;}

/*CSS for td*/
td{padding: 0 4px 0 4px;}
